:root {
  --bsod-blue: #0000aa;
  --bsod-grey: lightgray;
}
body {
  margin: 0;
  font-family: 'Share Tech Mono', monospace;
  background-color: var(--bsod-blue);

  color: white;
  font-size: 1.25rem;
}
ul {
  list-style: none;
  padding-inline-start: 0;
}
h1 {
  font-size: 4rem;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Handjet', cursive;
  margin-block-start: 0;
  margin-block-end: 0;
  letter-spacing: 2px;
  font-weight: 800;
}
a {
  color: inherit;
}
p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.mobile-container {
  padding: 0 1.5rem;
}


.flex-col {
  display: flex;
  flex-direction: column;
}
.page {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}

.section {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.section .title {
  display: flex;
  justify-content: center;
}

@media (min-width: 640px) {
  .container {
    margin: 0 auto;
    max-width: 65rem;
    width: 90%;
  }
  .mobile-container {
    padding: 0;
  }
  .page {
    row-gap: 5rem;
  }
  .section {
    row-gap: 4rem;
  }
}