.button {
  border: 1px solid;
  padding: 0.5rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
}
.button:hover {
  cursor: pointer;
  color: white;
  background-color: var(--bsod-blue);
}

.button.blue {
  background-color: transparent;
  color: white;
}
.button.blue:hover {
  background-color: var(--bsod-grey);
  color: var(--bsod-blue);
}
