.button {
  border: 1px solid;
  padding: 0.5rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
}
.button:hover {
  cursor: pointer;
  color: white;
  background-color: var(--bsod-blue);
}