.card.project {
  color: var(--bsod-blue);
  background-color: lightgray;

}

.card.project img {
  width: 100%;
}
.card.project .details {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.card.project .links {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 0;
}
