.card.project {
  color: var(--bsod-blue);
  background-color: lightgray;
}
.card.project img {
  width: 100%;
}
.card.project .details {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 1rem;
}
.card.project .links {
  display: flex;
  column-gap: 1rem;
  padding-top: 1rem;
}
