footer {
  padding-top: 4rem;
  padding-bottom: 2rem;
}
footer .inner {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  justify-content: center;
  justify-items: center;
}
footer .inner span {
  text-align: center;
}
footer .social-icons {
  display: flex;
  justify-content: center;
  column-gap: 1.5em;
}
footer .social-icons svg {
  height: 3rem;
  fill: white;
}
footer .social-icons svg:hover {
  cursor: pointer;
}
