.container {
  margin: 0 auto;
  max-width: 75rem;
  width: 90%;
}
@media (min-width: 640px) {
  .container {
    width: 90%;
  }
}
.flex-col {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.page {
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
}

.section {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}

.section .title {
  display: flex;
  justify-content: center;
}
