.skills-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  border: 1px solid;
  padding: 2rem;
  text-align: center;
}
.skills-list h4 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 1.5rem;
}
@media (max-width: 640px) {
  .skills-list {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.contact-list {
  row-gap: 1rem;
}
.contact-list li {
  display: flex;
  gap: 1rem;
}
.contact-list li span {
  text-transform: uppercase;
}
