.skills-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  border: 1px solid;
  padding: 2rem;
  text-align: center;
}

@media (max-width: 640px) {
  .skills-list {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
