.about {
  display: flex;
  column-gap: 2rem;
  flex-direction: column-reverse;
}
.about img {
  aspect-ratio: 1/1;
  object-fit: cover;
}
.about .typing-container {
  padding: 0rem 1.5rem 2rem 1.5rem;
}
@media (min-width: 640px) {
    .about {
        flex-direction: row;
        padding-top: 4rem;
    }
}

.contact.section .content {
  border:3px solid red;
  display: grid;
}