.about {
  display: flex;
  column-gap: 2rem;
  flex-direction: column;
}
@media (min-width: 640px) {
    .about {
        flex-direction: row;
    }
}

.skills.section {
  color: var(--bsod-blue);
  background-color: lightgray;
}